PORT=3000

# MongoDB
# Use either MONGO_URL or (MONGO_USER + MONGO_PWD + MONGO_DB)
//MONGO_URL=
//MONGO_USER=
//MONGO_PWD=
//MONGO_DB=

# PostgreSQL (AWS RDS)
# Use either POSTGRES_URL or individual connection values
POSTGRES_URL="database-2.cvay000ig79k.ap-south-1.rds.amazonaws.com"
POSTGRES_HOST="postgres"
POSTGRES_PORT=5432
POSTGRES_DB="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="saikumar"
POSTGRES_SSL=true
